# 🔐 Django
DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# 🐘 PostgreSQL (mesma URL do docker-compose.yml)
DATABASE_URL=postgres://postgres:postgres@db:5432/postgres

# 🔁 Redis para Celery
CELERY_BROKER_URL=redis://redis:6379/0
